{% extends 'main/header.html' %}

{% block content %}
<div id="myspace">
  <div id="cards">
  
  
  </div>
  <div id="playButtons">
    <a class="btn-floating btn-large"><i class="material-icons">skip_previous</i></a>
    <a class="btn-floating btn-large"><i class="material-icons">bolt</i></a>
    <a class="btn-floating btn-large"><i class="material-icons">skip_next</i></a>
    <a id="addCard" class="btn-floating btn-large cyan"><i class="material-icons">add</i></a>
  </div>
</div>

{% include "main/players.html" %}
{% endblock %}